<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rejestracja</title>
</head>
<body>
    <form action="register" method="POST">
        <div class="messages">
            <?php if(isset($messages)) {
                foreach($messages as $message) { echo $message; }
            } ?>
        </div>
        <input type="hidden" name="csrf" value="<?= $_SESSION['csrf']; ?>">
        <input name="email" type="email" placeholder="email@email.com" required>
        <input name="password1" type="password" placeholder="hasło" required>
        <input name="password2" type="password" placeholder="powtórz hasło" required>
        <input name="nickname" type="text" placeholder="twój pseudonim" required>
        <button type="submit">Zarejestruj się</button>
    </form>
</body>
</html>