:root {
    --sidebar-bg: #311e09f6;
    --sidebar-text: #F8F4E1;
    --accent-color: #AF8F6F;
    --bg-color: #F8F4E1;
    --white: #ffffff;
    
    --danger: #ff5e57;
    --danger-bg: rgba(255, 94, 87, 0.1);
}